DEBUG=1
SECRET_KEY=django-insecure-##kr9m8o7i&17bo$&ih_(rxpnbd2q-8kw+%ex42np4n2%8mh$%
DATABASE_URL=postgres://example:examplepw@localhost:5432/example
CELERY_BROKER_URL=redis://localhost:6379/0
ALLOWED_HOSTS='localhost,37.228.116.236,.trycloudflare.com'
TELEGRAM_BASE_CALLBACK_URL=https://example.trycloudflare.com
DEFAULT_AI_MODEL=llama3.1:8b
